:root {
    --answer-text-color: white;
    --heading-text-color: black;
    --answer-background-color: blueviolet;
    --view-high-scores-upper-left: hotpink;
    --input-border: cyan;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: var(--view-high-scores-upper-left);
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

#time {
    color: var(--heading-text-color);
    text-align: right;
}

.start-page {
color: var(--heading-text-color);
font-size: 1.5rem;
text-align: center;
margin: auto;
width: 700px;
}

#start-quiz {
    color: var(--answer-text-color);
    background-color: var(--answer-background-color);
    text-align: center;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 15px;
}

.first-question,
.second-question,
.third-question,
.fourth-question,
.fifth-question {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: 700px;
}

#strings,
#booleans,
#alerts,
#numbers,
#quotes,
#curly-brackets,
#parenthesis,
#square-brackets,
#numbers-and-strings,
#other-arrays,
#all-of-the-above,
#commas,
#javascript,
#terminal-bash,
#for-loops,
#console-log {
    color: var(--answer-text-color);
    background-color: var(--answer-background-color);
    text-align: left;
    border: none;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.all-done {
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
}

.all-done ul li{
    list-style: none;
    font-weight: normal;
    font-size: 1.5rem;
    text-align: center;
}

input {
    border-color: var(--input-border);
    width: 200px;
    height: 30px;
}

#submit {
color: var(--answer-text-color);
background-color: var(--answer-background-color);
text-align: center;
border: none;
padding: 5px 20px;
text-decoration: none;
display: inline-block;
font-size: 1.5rem;
border-radius: 8px;
}

.high-scores {
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
}

#go-back {
color: var(--answer-text-color);
background-color: var(--answer-background-color);
text-align: center;
border: none;
padding: 5px 20px;
text-decoration: none;
display: inline-block;
font-size: 1.5rem;
border-radius: 8px;
}

#clear-high-scores {
color: var(--answer-text-color);
background-color: var(--answer-background-color);
text-align: center;
border: none;
padding: 5px 20px;
text-decoration: none;
display: inline-block;
font-size: 1.5rem;
border-radius: 8px;
}