:root {
    --answer-text-color: white;
    --heading-text-color: black;
    --answer-background-color: blueviolet;
    --view-high-scores-upper-left: hotpink;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.upper-left-high-scores {
    text-align: left;
    color: var(--view-high-scores-upper-left);
}

.time {
    text-align: right;
    color: var(--heading-text-color);
}

.start-page {
color: var(--heading-text-color);
font-size: 20px;
text-align: center;
margin: auto;
width: 700px;
}

#start-quiz {
    color: var(--answer-text-color);
    background-color: var(--answer-background-color);
    text-align: center;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 15px;
}

.first-question,
.second-question,
.third-question,
.fourth-question,
.fifth-question {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: 700px;
}

/* .first-question-answers {
    color: var(--answer-text-color);
    background-color: var(--answer-background-color);
    font-weight: normal;
    max-width: 150px;
    text-align: left;
} */

#strings {
    color: var(--answer-text-color);
    background-color: var(--answer-background-color);
    text-align: left;
    border: none;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#booleans {
    color: var(--answer-text-color);
    background-color: var(--answer-background-color);
    text-align: left;
    border: none;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#alerts {
    color: var(--answer-text-color);
    background-color: var(--answer-background-color);
    text-align: left;
    border: none;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#numbers {
    color: var(--answer-text-color);
    background-color: var(--answer-background-color);
    text-align: left;
    border: none;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.second-question-answers {
    color: var(--answer-text-color);
    background-color: var(--answer-background-color);
    font-weight: normal;
    max-width: 230px;
    text-align: left;
}

.third-question-answers {
    color: var(--answer-text-color);
    background-color: var(--answer-background-color);
    font-weight: normal;
    max-width: 270px;
    text-align: left;
}

.fourth-question-answers {
    color: var(--answer-text-color);
    background-color: var(--answer-background-color);
    font-weight: normal;
    max-width: 200px;
    text-align: left;
}

.fifth-question-answers {
    color: var(--answer-text-color);
    background-color: var(--answer-background-color);
    font-weight: normal;
    max-width: 210px;
    text-align: left;
}