:root {
    --answer-text-color: white;
    --answer-background-color: blueviolet;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#all-done {
    font-weight: bold;
    text-align: left;
    font-size: 2rem;
    display: inline;
}

#all-done ul li {
    list-style: none;
    font-weight: normal;
    font-size: 1.5rem;
    text-align: left;
}

a {
    color: var(--answer-text-color);
    background-color: var(--answer-background-color);
    text-align: center;
    border: none;
    padding: 5px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 8px;
    }