:root {
    --answer-text-color: white;
    --heading-text-color: black;
    --answer-background-color: blueviolet;
    --view-high-scores-upper-left: hotpink;
    --high-score-background: lightgrey;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#high-scores {
    float: none;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

ol {
    display: inline;
    margin-bottom: 2rem;
}

li {
    background-color: var(--high-score-background);
    margin-bottom: 2rem;
}

#go-back {
    background-color: var(--answer-background-color);
    color: var(--answer-text-color);
    text-align: center;
    border: none;
    padding: 5px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 8px;
    font-weight: bold;
}

#go-back:hover {
    background-color: var(--view-high-scores-upper-left);
    cursor: pointer;
}

#clear-high-scores {
color: var(--answer-text-color);
background-color: var(--answer-background-color);
text-align: center;
border: none;
padding: 5px 20px;
text-decoration: none;
display: inline-block;
font-size: 1.5rem;
border-radius: 8px;
font-weight: bold;
}

#clear-high-scores:hover {
    background-color: var(--view-high-scores-upper-left);
    cursor: pointer;
}