:root {
    --answer-text-color: white;
    --heading-text-color: black;
    --answer-background-color: rgb(24, 219, 219);
    --input-border: cyan;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: var(--view-high-scores-upper-left);
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

aside {
    float: right;
}

nav {
    float: left;
}

main {
    padding: 2rem;
    padding-top: 1rem;
    align-items: center;
}

main h1 {
    text-align: center;
    color: var(--heading-text-color);
    font-size: 2rem;
}

#quiz-header {
    font-size: 50px;
    text-align: center;
}

#starting button {
    display: grid;
    margin: auto;
    color: var(--answer-text-color);
    background-color: var(--answer-background-color);
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 10px;
}

#starting button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

section p {
    text-align: center;
    color: var(--heading-text-color);
    font-size: 1rem;
}

#questions button {
    display: block;
    align-content: center;
    margin: auto;
    border: none;
    padding: 1rem;
    background-color: var(--answer-background-color);
    margin-top: 1rem;
    color: var(--answer-text-color);
    border-radius: 5px;
    font-size: 1rem;
}

#questions button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.input {
    display: inline;
    border-color: var(--input-border);
}

.input button {
    background-color: var(--answer-background-color);
    color: var(--answer-text-color);
    padding: .5rem 1rem;
    margin-left: 1rem;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

.input button:hover {
    cursor: pointer;
}

#all-done {
    text-align: center;
}

@media screen and (max-width: 425px) {
    #quiz-header {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .input button {
        margin-top: 2rem;
    }
}