:root {
    --answer-text-color: white;
    --heading-text-color: black;
    --answer-background-color: blueviolet;
    --view-high-scores-upper-left: hotpink;
    --input-border: cyan;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: var(--view-high-scores-upper-left);
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

#time {
    color: var(--heading-text-color);
    text-align: right;
}

.hidden {
    display: none;
}

#start-page {
color: var(--heading-text-color);
font-size: 1.5rem;
text-align: center;
margin: auto;
width: 800px;
}

#start-quiz {
    color: var(--answer-text-color);
    background-color: var(--answer-background-color);
    text-align: center;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 15px;
}

#start-quiz:hover {
    background-color: var(--view-high-scores-upper-left);
    cursor: pointer;
}

#heading {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: 800px;
    padding-bottom: 20px;
}

#first-choices,
#second-choices,
#third-choices,
#fourth-choices {
    color: var(--answer-text-color);
    background-color: var(--answer-background-color);
    text-align: left;
    padding: 15px 25px;
    font-size: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 15%;
}

#first-choices:hover,
#second-choices:hover,
#third-choices:hover,
#fourth-choices:hover {
    background-color: var(--view-high-scores-upper-left);
    cursor: pointer;
}

input {
    border-color: var(--input-border);
    width: 200px;
    height: 30px;
}

#submit {
color: var(--answer-text-color);
background-color: var(--answer-background-color);
text-align: center;
border: none;
padding: 5px 20px;
text-decoration: none;
display: inline-block;
font-size: 1.5rem;
border-radius: 8px;
}

#submit:hover {
    background-color: var(--view-high-scores-upper-left);
    cursor: pointer;
}